<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{{subject}}</title>
  <style>
    {{{styles}}}
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="https://yourdomain.com/logo.png" alt="Logo" />
    </div>
    {{{body}}}
    <div class="footer">
      &copy; {{year}} FoodieApp. All rights reserved.
    </div>
  </div>
</body>
</html>